.text-title{
    color: rgb(155, 151, 151);
    font-size: 20px;
}

.form-control{
    height: 60px !important;
}

.forgot-pass{
    margin-left: 110px;
    font-weight: none !important;
}
.login-button{
    margin-left: 110px;
}