* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.User {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Logo {
  grid-area: l;
  height: 120px;
  width: 260px;
}

.Delimeter {
  grid-area: l;
  width: 400px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
